<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    <title>Survey 2</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script> <!-- opcja potrzebna do sortowania w JS -->
    <style>
        #sortable-list {
            list-style-type: none; 
            padding: 0; 
        }

        .list-group-item {
            border: 1px solid #ddd;  
            margin-bottom: 5px;  
            text-align: left;  
            padding: 10px;  
            background-color: #f9f9f9; 
        }

        /* styl przy przeciąganiu elementu */
        .list-group-item:active {
            background-color: #5cbc64;
        }
    </style>
</head>
<body>
    <!-- https://htmx.org/examples/sortable/#demo -->
    <h1>What are your needs?</h1>
    <!-- Lista do sortowania -->
    <ul id="sortable-list" class="list-group" hx-post="/save-order" hx-target="#sortable-list" hx-swap="outerHTML">
        <li class="list-group-item" data-id="1">
            <span>Better salary</span>
        </li>
        <li class="list-group-item" data-id="2">
            <span>Boss recognition</span>
        </li>
        <li class="list-group-item" data-id="3">
            <span>No overtime</span>
        </li>
        <li class="list-group-item" data-id="4">
            <span>Nice co-workers</span>
        </li>
        <li class="list-group-item" data-id="5">
            <span>Good Coffee</span>
        </li>
    </ul>

    <script>
        // musimy zainicjować SortableJS na naszej liście
        const sortable = new Sortable(document.getElementById('sortable-list'), {
        });
    </script>

    <button id="save-button" class="btn btn-success mt-3">Save Order</button>
    <br>
    <br>
    <form action="{% url 'main_page' %}">
        <button type="submit" class="btn btn-outline-dark">Main Page</button>
    </form>

</body>
</html>
